body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #c9d2f8;  */
    background-image: url('img/logo.png') !important;
    /* background: rgba(0, 0, 0, 0.197) !important; */

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    text-align: center;
    font-size: 3em;
    margin: auto;

}


header {
    /* background: linear-gradient(to right, white,  rgb(2, 54, 151)),  */
    background: url('img/residencial.jpg') no-repeat center center/cover !important;
    color: rgba(255, 251, 251, 0.918);
    padding: 15px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0); /* Blanco semi-transparente */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.logo img {
    max-width: 100%;
    height: auto;
    width: 70%;
    max-width: 250px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0); /* Blanco semi-transparente */
    background-image: linear-gradient(to right, rgba(1, 1, 1, 0.5), rgba(255, 255, 255, 0.5));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .logo {
        flex-direction: column;
        text-align: center;
    }

    .logo img {
        margin: 0 0 10px 0;
        width: 50%;
    }

    header h1 {
        font-size: x-large;
        /* background-color:#007BFF; */
        /* opacity: 0.5; */
        border-radius: 10px;

        box-shadow: inset;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    header, footer {
        padding: 10px;
    }

}


nav ul {
    /* position: fixed;
    top: 0;
    color: #001f6b !important;
    width: 100%;
    z-index: 1000; */
    /*Aseguraqueelnavbarestéencimadeotroselementos*/list-style: none;
    padding: 0;
    /* display: flex; */
    justify-content:center;
    margin: 0;
    opacity: 0.9;
    /* border-radius: ; */
    background-color: rgba(195, 196, 199, 0.281);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

nav ul li {
    margin: 0 10px;
    font-size: large;
}

nav ul li a {
    color: white !important;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    -ms-transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

nav ul li a:hover {
    background-color: rgb(96, 111, 138);
    color: white;
    list-style:decimal-leading-zero;
    box-shadow: 0 10px 20px rgba(0, 255, 213, 0.3);
    font-size: large;
}
/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
        width: 100%;
    }

    nav ul li a {
        padding: 10px;
        font-size: medium;
        width: 100%;
        text-align: center;
    }
}



.navbar-collapse {    /*Aseguraqueelnavbarestéencimadeotroselementos*/list-style: none;
    padding: 0;
    /* display: flex; */
    justify-content:center;
    margin: 0;
    opacity: 0.9;
    /* border-radius: ; */
    /* background-color: rgba(195, 196, 199, 0.281); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  
  .navbar-collapse.collapsing, .navbar-collapse.show {
    transition: height 0.3s ease-in-out; /* Transición suave */
    position: absolute; /* Posiciona el colapso */
    top: 0; /* Ajusta la posición superior */
    right: 0; /* Ajusta la posición derecha */
    width: 100%; /* Ancho del colapso */
    /* background-color: rgba(195, 196, 199, 0.281); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
 } 
     /* Estilos para el botón de colapso */
     .navbar-toggler {
        position: absolute; /* Posiciona el botón */
        top: 0px; /* Ajusta la posición superior */
        right: 10px; /* Ajusta la posición derecha */
        z-index: 1; /* Asegura que esté sobre otros elementos */
        border: 2px solid white; /* Añade un borde blanco */
        border-radius: 5px; /* Redondea los bordes */
        padding: 5px; /* Añade padding para aumentar el área de clic */
  
      /* Color del ícono del botón de colapso */
     }
      .navbar-toggler-icon {
background-color: #000000;

      }
  


.hero img {
    width: 400px;
    /* Ajusta el ancho deseado */
    height: 400px;
    /* Ajusta la altura deseada */
    object-fit: cover;
    /* Asegura que la imagen mantenga su proporción y llene el espacio */
    max-width: 100%;
    margin-right: 10px;
}
 

section h2 {
    text-align: center;
    align-items: center;
    font-size: xx-large;
    margin: 40px;
    padding: unset;
    color: #0e0e0eca !important;
    background-color: rgba(255, 255, 255, 0) !important; /* Blanco semi-transparente */
    background-image: linear-gradient(to right,black, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)) !important;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8) !important;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
/* //////////////////////////////INICIO/////////////////////////////////////////// */
#inicio {
    height: 30vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(58, 123, 213, 0.7));

    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(4, 0, 0, 0.852);
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

#inicio .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
    color: hwb(0 19% 81% / 0.859);
}

#inicio .btn-info:hover {
    background-color: #138496;
    border-color: #138496;
}


/* //////////////////////////////END-INICIO/////////////////////////////////////////////////////// */
/* /////////////////////SERVICIOS/////////////////////// */
#servicios {
   background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(184, 187, 190, 0.7)),
                url('img/residencial.jpg') no-repeat center center/cover;
    color: white;
    padding: 60px 0;
}

#servicios .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

#servicios .card:hover {
    transform: scale(1.05);
}

#servicios .card-img-top {
    border-radius: 5px 5px 0 0;
}

#servicios .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

#servicios .card-text {
    font-size: 1rem;
}

#servicios .container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

#servicios ul {
    padding-left: 20px;
}

#servicios ul li {
    list-style-type: disc;
}



.about-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.about-card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.about-card h3 {
    color: #0074D9;
    /* Azul más claro */
    font-size: 1.5em;
    margin-bottom: 15px;
}

.about-card img {
    width: 200px;
    /* Ajusta el ancho deseado */
    height: 200px;
    /* Ajusta la altura deseada */
    object-fit: cover;
    /* Asegura que la imagen mantenga su proporción y llene el espacio */
    max-width: 100%;
    margin-right: 10px;
}

.about-card p,
.about-card ul {
    color: #555555;
    /* Gris oscuro */
    font-size: 1em;
    line-height: 1.6;
}

#servicios button, #proyectos a, #nosotros a {
    text-decoration: none;
    font-size: x-large;
    color: #ffffff;
    border-radius: 10px;

text-align: center;
    align-items:flex-end;
    background-color: rgba(255, 255, 255, 0) !important; /* Blanco semi-transparente */
    background-image: linear-gradient(to right,black, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)) !important;

}
#servicios button:hover, #proyectos a:hover, #nosotros a:hover{
    /*Darkershadeforhovereffect*/box-shadow: 0 4px 8px rgba(1, 0, 3, 0.767);
    border-radius: 10px;

}
/* ////////////////////////END SERVICIOS////////////////////////////// */
/* ///////////////////////////////////ESTILOS PROYECTOS//////////////////////////// */
#proyectos{
    background: url('img//logo-canva.png') no-repeat center center/cover;
    padding-top: 20px;

}
.btn-custom{
    display: flex;
    justify-content: center;
    align-items: center;
}
#proyecto-btn{
    /* background-color: #0056b3; */
    /* border-color: #0056b3; */
    margin: 50px;
    background-color: rgba(255, 255, 255, 0) !important; /* Blanco semi-transparente */
    background-image: linear-gradient(to right,rgba(0, 0, 0, 0.345), rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.345)) !important;


    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#proyecto-btn:hover {
    /* background-color: #001f6b; */

    /*Darkershadeforhovereffect*/box-shadow: 0 4px 8px rgba(1, 0, 3, 0.500);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* ////////////////////////END PROYECTOS////////////////////////////// */


/* ///////////////////////////////////estilos seccion noossotros//////////////////////////// */

/* Sección Sobre Nosotros */
#nosotros {
    padding: 60px 20px;
    background: url('img/obra.jpg') no-repeat center center/cover !important;
}
.lead{
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Esquinas redondeadas */
    display: inline-block; /* Ajuste del ancho al contenido */
    color: #023697; /* Color del texto */
    font-family:    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.intro-text {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Esquinas redondeadas */
    display: inline-block; /* Ajuste del ancho al contenido */
    color: #023697; /* Color del texto */
}
.card {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border: none; /* No border */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.card-title {
    font-weight: bold;
    color: #023697; /* Matching color with the background */
}

.card-text {
    font-size: 1.1em;
    color: #333; /* Dark color for readability */
}



#nosotros h2 {
    text-align: center;
    color: #000000 !important;
    margin-bottom: 40px;
    font-size: 2rem;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.about-card {
    background-color: #F1F5F9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto;
    transition: transform 0.3s;
}

.about-card:hover {
    transform: translateY(-10px);
}

.about-card h3 {
    background-color: #1E3A8A;
    color: white;
    padding: 15px;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
}

.about-card img {
    width: 100%;
    height: auto;
    display: block;
}

.about-card p, .about-card ul {
    padding: 20px;
    color: #555;
}

.about-card ul {
    list-style: none;
    padding-left: 0;
}

.about-card ul li {
    margin-bottom: 10px;
    font-size: 1rem;
}

.about-card ul li strong {
    color: #1E3A8A;
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.about-card {
    animation: fadeInUp 0.6s ease-out;
}

/* Elementos adicionales */
.about-card p {
    background-color: #E5E7EB;
    padding: 10px;
    border-radius: 5px;
}

/* Botones de acciones */
.about-card a {
    display: block;
    text-align: center;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #1E3A8A;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: x-large;
}

.about-card a:hover {
    background-color: #162E6B;
}

/* /////////////////////////NOSOTROS END////////////////////////////// */


/* /////////////////////////////////////////////// */
/* ESTILOS DE CONTACTO  */
/* Estilos generales y colores de la temática */
:root {
    --primary-color: #007bff;
    --secondary-color: #ff6347;
    --background-color: #f9f9f9;
    --text-color: #333;
    --form-background: #fff;
    --form-border: #ddd;
    --form-text: #555;
    --button-background: var(--primary-color);
    --button-hover: #0056b3;
    --whatsapp-color: #25D366;
    --facebook-color: #3b5998;
    --instagram-color: #C13584;
}

#contacto {
    padding: 40px;
    font-family: Arial, sans-serif;
    color:  #fff;
    background: url('img/logo-canva.png') no-repeat center center/cover;
}
#contacto h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    position: relative;
    /* display: inline-block; */
    color: #ffffff;
    text-align: center;
    align-items: center;
}
/* #contacto h2::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #ffffff;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
} */
.contact-wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    background: transparent;
    border-radius: 8px;
}

.logo-column {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0);  */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}
.logo {
    max-width: 100%;
    height: auto;
}

.form-column {
    max-width: 400px;
}

.contact-form .form-group {
    margin-bottom: 15px;
    text-align: left;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    color: var(--form-border);
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--form-border);
    border-radius: 5px;
        background-color: rgba(165, 165, 165, 0.275); 
}

.contact-form .form-group textarea {
    resize: vertical;
    height: 100px;
}

.contact-form .submit-btn {
    background-color: var(--button-background);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form .submit-btn:hover {
    background-color: var(--button-hover);
}

.contact-info-column {
    max-width: 400px;
}

.whatsapp-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.whatsapp-btn, .facebook-button, .instagram-button {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    color: white;
}

.whatsapp-btn {
    background-color: var(--whatsapp-color);
}

.whatsapp-btn:hover {
    background-color: #1ebd4a;
}

.facebook-button {
    background-color: var(--facebook-color);
}

.facebook-button:hover {
    background-color: #2d4373;
}

.instagram-button {
    background-color: var(--instagram-color);
}

.instagram-button:hover {
    background-color: #8e235d;
}

.map-container {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    margin: 20px auto;
    border: 1px solid var(--form-border);
    border-radius: 8px;
    overflow: hidden;
}

/* /////////////////////END ESTILOS SECCION CONTACTOS////////////////////////////////// */
footer {
    /* background: linear-gradient(to right, white, rgb(2, 54, 151)); */

    text-align: center;
    padding: 20px 0;
    margin-top: 20px;margin-bottom: 0ch;
color: #4b4b4c !important;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.056), rgba(255, 255, 255, 0.056));
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.622);

}


footer p {
    margin: 0;
    /* background: linear-gradient(to right, rgb(2, 54, 151), rgb(255, 0, 0), rgb(0, 0, 0)); */
    color: rgba(254, 254, 254, 0.726);
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-size: 1em;
}



