
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('img/logo-canva.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
}



  .carousel-item img {
   /* Estilo para centrar imágenes y hacerlas más grandes */
.carousel-item img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  max-height: 500px; /* Altura máxima para las imágenes */
  object-fit: contain; /* Ajusta la imagen dentro del contenedor manteniendo la relación de aspecto */
}

    }

    /* Estilo adicional personalizado para las imágenes */
    .gallery-img {
      transition: transform 0.3s ease-in-out; /* Transición suave al pasar el mouse */
      margin-bottom: 10px; /* Espacio entre imágenes */
    }
    .gallery-img:hover {
      transform: scale(1.1); /* Escalado al 110% al pasar el mouse */
    }
 
    h2 ,  p{
    color: rgba(255, 255, 255, 0.782);
    background-color: rgba(238, 238, 238, 0.164);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#container-carrusel
{
    margin-top: 80px;
}
  