body {
    background: url('img/inn1.png') center/cover no-repeat;
    position: relative;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed; /* Cambia de absolute a fixed para que cubra toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
    z-index: -1; /* Asegura que el overlay esté detrás del contenido */
    pointer-events: none; /* Permite hacer scroll sin interferencias */
}

.slider-thumb::before {
    position: fixed; /* Usa fixed para mantener la animación en la ventana */
    content: "";
    left: 30%;
    top: 20%;
    width: 450px;
    height: 450px;
    background: rgba(23, 20, 29, 0.5);
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1; /* Mantiene la animación detrás del contenido */
    pointer-events: none; /* Permite hacer scroll sin interferencias */
}

@keyframes sliderShape {
    0%, 100% {
        border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
        transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
        transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
        transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
}

  .carousel-item img {
   /* Estilo para centrar imágenes y hacerlas más grandes */
.carousel-item img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
  margin: 0 auto; /* Centra la imagen horizontalmente */
  max-height: 500px; /* Altura máxima para las imágenes */
  object-fit: contain; /* Ajusta la imagen dentro del contenedor manteniendo la relación de aspecto */
}

    }

    /* Estilo adicional personalizado para las imágenes */
    .gallery-img {
      transition: transform 0.3s ease-in-out; /* Transición suave al pasar el mouse */
      margin-bottom: 10px; /* Espacio entre imágenes */
    }
    .gallery-img:hover {
      transform: scale(1.1); /* Escalado al 110% al pasar el mouse */
    }
 
    h2 ,  p{
    color: rgba(255, 255, 255, 0.782);
    background-color: rgba(238, 238, 238, 0.164);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#container-carrusel
{
    margin-top: 80px;
}
  